---
http_interactions:
- request:
    method: get
    uri: https://www.eventbriteapi.com/v3/events/28155205979/ticket_classes/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer XXXXXXXXXXXXXXXXXXXX
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit:
      - token:XXXXXXXXXXXXXXXXXXXX 6/1000 reset=156s, key:5RMIAKJGVWRHGTIESW 6/1000
        reset=156s
      Allow:
      - GET, POST, HEAD, OPTIONS
    body:
      encoding: ASCII-8BIT
      string: '{"pagination": {"object_count": 3, "page_number": 1, "page_size": 50,
        "page_count": 1}, "ticket_classes": [{"actual_cost": {"display": "$20.00",
        "currency": "USD", "value": 2000, "major_value": "20.00"}, "actual_fee": {"display":
        "$2.09", "currency": "USD", "value": 209, "major_value": "2.09"}, "cost":
        {"display": "$20.00", "currency": "USD", "value": 2000, "major_value": "20.00"},
        "fee": {"display": "$2.09", "currency": "USD", "value": 209, "major_value":
        "2.09"}, "tax": {"display": "$0.00", "currency": "USD", "value": 0, "major_value":
        "0.00"}, "resource_uri": "https://www.eventbriteapi.com/v3/events/28155205979/ticket_classes/55451777/",
        "name": "Special Operative Clearance (Early Bird)", "description": null, "donation":
        false, "free": false, "minimum_quantity": 1, "maximum_quantity": null, "maximum_quantity_per_order":
        10, "on_sale_status": "AVAILABLE", "quantity_total": 50, "quantity_sold":
        12, "sales_start": "2016-09-27T22:50:00Z", "sales_end": "2016-10-09T05:00:00Z",
        "hidden": false, "include_fee": false, "split_fee": false, "hide_description":
        true, "auto_hide": false, "variants": [], "has_pdf_ticket": true, "sales_channels":
        ["online", "atd"], "event_id": "28155205979", "id": "55451777"}, {"actual_cost":
        {"display": "$25.00", "currency": "USD", "value": 2500, "major_value": "25.00"},
        "actual_fee": {"display": "$2.37", "currency": "USD", "value": 237, "major_value":
        "2.37"}, "cost": {"display": "$25.00", "currency": "USD", "value": 2500, "major_value":
        "25.00"}, "fee": {"display": "$2.37", "currency": "USD", "value": 237, "major_value":
        "2.37"}, "tax": {"display": "$0.00", "currency": "USD", "value": 0, "major_value":
        "[...]
[...]
